In [2]:
import pandas as pd
import numpy as np
import dossier

### Setup
---

In [3]:
# read and inspect dataset
data = pd.read_parquet(r"C:\Users\andre\OneDrive\Shared\Machine Learning Bootcamp\content\projects\political_engagement\w7.parquet")
data

,version,doi,A_WAVE,A_YEAR,A_STUDY,B_COUNTRY,B_COUNTRY_ALPHA,C_COW_NUM,C_COW_ALPHA,D_INTERVIEW,...,WVS_Polmistrust_PartyVoter,WVS_LR_MedianVoter,WVS_LibCon_MedianVoter,v2psbars,v2psorgs,v2psprbrch,v2psprlnks,v2psplats,v2xnp_client,v2xps_party
0,5-0-0 (2022-12-23),doi.org/10.14281/18241.20,7,2018,2,20,AND,232,AND,20070001,...,62.4342105263158,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,5-0-0 (2022-12-23),doi.org/10.14281/18241.20,7,2018,2,20,AND,232,AND,20070002,...,62.4342105263158,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,5-0-0 (2022-12-23),doi.org/10.14281/18241.20,7,2018,2,20,AND,232,AND,20070003,...,62.4342105263158,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,5-0-0 (2022-12-23),doi.org/10.14281/18241.20,7,2018,2,20,AND,232,AND,20070004,...,None,None,None,None,None,None,None,None,None,None
4,5-0-0 (2022-12-23),doi.org/10.14281/18241.20,7,2018,2,20,AND,232,AND,20070005,...,66.9642857142857,-999,-999,-999,-999,-999,-999,-999,-999,-999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94273,5-0-0 (2022-12-23),doi.org/10.14281/18241.20,7,2022,2,909,NIR,202,NIRL,909070443,...,None,None,None,None,None,None,None,None,None,None
94274,5-0-0 (2022-12-23),doi.org/10.14281/18241.20,7,2022,2,909,NIR,202,NIRL,909070444,...,None,None,None,None,None,None,None,None,None,None
94275,5-0-0 (2022-12-23),doi.org/10.14281/18241.20,7,2022,2,909,NIR,202,NIRL,909070445,...,None,None,None,None,None,None,None,None,None,None
94276,5-0-0 (2022-12-23),doi.org/10.14281/18241.20,7,2022,2,909,NIR,202,NIRL,909070446,...,None,None,None,None,None,None,None,None,None,None
94277,5-0-0 (2022-12-23),doi.org/10.14281/18241.20,7,2022,2,909,NIR,202,NIRL,909070447,...,None,None,None,None,None,None,None,None,None,None

In [17]:
# retain only columns of interest (from 606 to 37)
df = data[list(dossier.columns_to_retain.keys())]

# map survey items to readable names (e.g., Q260 > sex) 
df.columns = df.columns.map(dossier.columns_to_retain)
df

,country,interview,mode,settlment,urbrural,respint,literacy,intprivacy,sex,birth_year,...,spouse_employment,occupation,spouse_occupation,father_occupation,employment_sector,chief_earner,savings,subjective_social_class,income_scale,religion
0,20,20070001,2,1,1,1,-4,1,2,1958,...,1,4,7,9,2,2,3,3,2,1
1,20,20070002,2,2,1,1,-4,1,1,1971,...,1,1,3,4,2,1,1,2,3,1
2,20,20070003,2,2,1,1,-4,1,1,1969,...,-3,5,-3,5,2,1,2,3,2,1
3,20,20070004,2,2,1,2,-4,1,2,1956,...,1,4,6,9,2,2,2,4,2,0
4,20,20070005,2,2,1,2,-4,1,1,1969,...,1,4,5,8,2,1,1,4,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94273,909,909070443,1,5,2,1,1,1,2,1939,...,-4,1,-4,-4,1,-1,2,-4,-2,2
94274,909,909070444,3,4,1,-2,-2,-2,1,1987,...,-4,5,-4,-4,1,2,2,-4,2,2
94275,909,909070445,1,5,2,1,1,1,2,2002,...,-4,3,-4,-4,2,2,1,-4,2,2
94276,909,909070446,1,3,1,1,1,1,2,2003,...,-4,8,-4,-4,2,2,3,-4,3,1
94277,909,909070447,1,5,2,2,1,1,1,1969,...,-4,7,-4,-4,2,1,3,-4,2,2

### EDA
---

In [20]:
# each item 
# How can i best parse and observe the data for these kind of huge datasets?
df

,country,interview,mode,settlment,urbrural,respint,literacy,intprivacy,sex,birth_year,...,spouse_employment,occupation,spouse_occupation,father_occupation,employment_sector,chief_earner,savings,subjective_social_class,income_scale,religion
0,20,20070001,2,1,1,1,-4,1,2,1958,...,1,4,7,9,2,2,3,3,2,1
1,20,20070002,2,2,1,1,-4,1,1,1971,...,1,1,3,4,2,1,1,2,3,1
2,20,20070003,2,2,1,1,-4,1,1,1969,...,-3,5,-3,5,2,1,2,3,2,1
3,20,20070004,2,2,1,2,-4,1,2,1956,...,1,4,6,9,2,2,2,4,2,0
4,20,20070005,2,2,1,2,-4,1,1,1969,...,1,4,5,8,2,1,1,4,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94273,909,909070443,1,5,2,1,1,1,2,1939,...,-4,1,-4,-4,1,-1,2,-4,-2,2
94274,909,909070444,3,4,1,-2,-2,-2,1,1987,...,-4,5,-4,-4,1,2,2,-4,2,2
94275,909,909070445,1,5,2,1,1,1,2,2002,...,-4,3,-4,-4,2,2,1,-4,2,2
94276,909,909070446,1,3,1,1,1,1,2,2003,...,-4,8,-4,-4,2,2,3,-4,3,1
94277,909,909070447,1,5,2,2,1,1,1,1969,...,-4,7,-4,-4,2,1,3,-4,2,2